input{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 19px;
    background-color: #eaffbf85;
    margin: 28px;
}

button{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    background-color: #eaffbf85;
    margin: 28px;
}

/*.controles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}*/